<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>account.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,271},{51,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,42}}</string>
				<key>sourceSize</key>
				<string>{51,42}</string>
			</dict>

			<key>back.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,229},{45,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,50}}</string>
				<key>sourceSize</key>
				<string>{45,50}</string>
			</dict>

			<key>bigMedal.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,389},{67,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,97}}</string>
				<key>sourceSize</key>
				<string>{67,97}</string>
			</dict>

			<key>book.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,371},{29,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,39}}</string>
				<key>sourceSize</key>
				<string>{29,39}</string>
			</dict>

			<key>bookShelf.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,178},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,45}}</string>
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>

			<key>bookStore.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,97},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,45}}</string>
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>

			<key>book_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,271},{77,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,61}}</string>
				<key>sourceSize</key>
				<string>{77,61}</string>
			</dict>

			<key>book_clear.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,333},{70,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,55}}</string>
				<key>sourceSize</key>
				<string>{70,55}</string>
			</dict>

			<key>book_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,51},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,49}}</string>
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>

			<key>book_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,140},{47,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,37}}</string>
				<key>sourceSize</key>
				<string>{47,37}</string>
			</dict>

			<key>brain.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,110},{92,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,74}}</string>
				<key>sourceSize</key>
				<string>{92,74}</string>
			</dict>

			<key>campaign.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,314},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,57},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,39}}</string>
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>

			<key>check.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,456},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,52}}</string>
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>

			<key>ciga.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,371},{40,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,45}}</string>
				<key>sourceSize</key>
				<string>{40,45}</string>
			</dict>

			<key>club.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,51},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,45}}</string>
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>

			<key>collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,143},{39,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,52}}</string>
				<key>sourceSize</key>
				<string>{39,52}</string>
			</dict>

			<key>collected.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,487},{22,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,23}}</string>
				<key>sourceSize</key>
				<string>{22,23}</string>
			</dict>

			<key>doubt.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,305},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>error.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,394},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,45}}</string>
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>

			<key>eye.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,110},{50,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,29}}</string>
				<key>sourceSize</key>
				<string>{50,29}</string>
			</dict>

			<key>font.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,0},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,45}}</string>
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>

			<key>footprints.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,196},{29,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,54}}</string>
				<key>sourceSize</key>
				<string>{29,54}</string>
			</dict>

			<key>gift.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,280},{42,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,43}}</string>
				<key>sourceSize</key>
				<string>{42,43}</string>
			</dict>

			<key>home.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,101},{47,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,38}}</string>
				<key>sourceSize</key>
				<string>{47,38}</string>
			</dict>

			<key>info.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,302},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,45}}</string>
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>

			<key>leftArrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,411},{47,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,37}}</string>
				<key>sourceSize</key>
				<string>{47,37}</string>
			</dict>

			<key>library.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,0},{44,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,56}}</string>
				<key>sourceSize</key>
				<string>{44,56}</string>
			</dict>

			<key>life.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,143},{29,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,33}}</string>
				<key>sourceSize</key>
				<string>{29,33}</string>
			</dict>

			<key>locked.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,266},{30,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,38}}</string>
				<key>sourceSize</key>
				<string>{30,38}</string>
			</dict>

			<key>log.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,0},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{99,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,109}}</string>
				<key>sourceSize</key>
				<string>{99,109}</string>
			</dict>

			<key>medal.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,463},{33,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,40}}</string>
				<key>sourceSize</key>
				<string>{33,40}</string>
			</dict>

			<key>mind.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,57},{38,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,40}}</string>
				<key>sourceSize</key>
				<string>{38,40}</string>
			</dict>

			<key>mini_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,440},{43,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,52}}</string>
				<key>sourceSize</key>
				<string>{43,52}</string>
			</dict>

			<key>option.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,363},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,47}}</string>
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>

			<key>piece.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,456},{48,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,49}}</string>
				<key>sourceSize</key>
				<string>{48,49}</string>
			</dict>

			<key>piece_full.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,185},{84,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,85}}</string>
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>

			<key>rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,348},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,45}}</string>
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>

			<key>read.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,185},{51,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,50}}</string>
				<key>sourceSize</key>
				<string>{51,50}</string>
			</dict>

			<key>restart.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,140},{48,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,40}}</string>
				<key>sourceSize</key>
				<string>{48,40}</string>
			</dict>

			<key>rightArrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,264},{47,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,37}}</string>
				<key>sourceSize</key>
				<string>{47,37}</string>
			</dict>

			<key>save_data.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,333},{51,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,51}}</string>
				<key>sourceSize</key>
				<string>{51,51}</string>
			</dict>

			<key>share.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,98},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>success.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,449},{45,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,46}}</string>
				<key>sourceSize</key>
				<string>{45,46}</string>
			</dict>

			<key>target.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,389},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>

			<key>time.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,229},{33,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,29}}</string>
				<key>sourceSize</key>
				<string>{33,29}</string>
			</dict>

			<key>title.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,417},{37,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,45}}</string>
				<key>sourceSize</key>
				<string>{37,45}</string>
			</dict>

			<key>title_noti.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,324},{41,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,46}}</string>
				<key>sourceSize</key>
				<string>{41,46}</string>
			</dict>

			<key>truth.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,224},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,41}}</string>
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>

			<key>turtle.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,236},{50,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,27}}</string>
				<key>sourceSize</key>
				<string>{50,27}</string>
			</dict>

			<key>tutorial.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,181},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,47}}</string>
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>

			<key>warning.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,0},{38,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,44}}</string>
				<key>sourceSize</key>
				<string>{38,44}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>